doctype html
html(class="dollert-popup")
  head
    title Dollert
    link(rel="stylesheet" type="text/css" href="popup.min.css")

  body
    .dollert-alert-form
      .dollert-logotype-container
        img(src="logotype.png")
      .dollert-alert-form-label Enter the USD value you are looking for in BRL:
      .dollert-input-buttoned
        input(data-js="usd-value" placeholder="i.e: 3.70")
        button.is-primary(data-js="button-save" type="button").disabled(disabled) Save

    .dollert-alert-list-cotnainer.is-hidden(data-js="alert-list-container")
      .dollert-alert-list-title Your Dollerts
      ul.dollert-alert-list(data-js="alert-list")
    p.dollert-credits Proudly made by 
      a(href="http://rafaelcamargo.com") Rafael Camargo
    
    script(type="text/javascript" src="popup.min.js")
