@import '_variables'
@import '_mixins'

.dollert-alert-form
  background $color-white
  .dollert-input-buttoned
    margin 0 auto
    padding-bottom 15px
    width 216px
    input
      width 116px
    button
      width 78px

.dollert-alert-form-label
  margin 0 auto 25px
  width 200px
  text-align center
