@import '_variables'
@import '_mixins'

.dollert-alert-form
  padding-bottom 25px
  background $color-white
  border-bottom 1px solid $color-grey
  .dollert-input-buttoned
    margin 0 auto
    width 216px
    input
      width 116px
    button
      width 78px
    
.dollert-alert-form-label
  margin 0 auto 25px
  width 200px
  text-align center
