@import '_variables'
@import '_mixins'

.cp-alert-list-cotnainer
  &.is-hidden
    display none

.cp-alert-list-title
  margin 25px auto 0
  font-size 12px
  text-align center  

.cp-alert-list
  padding 0
  margin 25px
  list-style-type none
  border 1px solid $color-grey-dark
  border-radius(3px)
  &.is-hidden
    display none

.cp-alert-list-item
  position relative
  padding 15px 0
  font-size 18px
  text-align center
  cursor pointer
  &:not(:first-child)
    border-top 1px solid $color-grey-dark
  &:hover
    .cp-alert-list-item-delete
      display inline;
    .cp-alert-list-item-content
      display none;

.cp-alert-list-item-delete
  display none;
  color $color-red
  text-transform uppercase