@import '_variables'

.cp-current-value-container
  padding-bottom 15px
  font-size 12px
  text-align center
  line-height 20px
  background $color-white
  border-bottom 1px solid $color-grey
  span
    vertical-align middle
    margin 0 3px

.cp-current-value-label
  text-transform uppercase
  
.cp-current-value
  font-size 16px;
  color $color-primary
  
.cp-current-variation
  &.is-positive
    color $color-green
  &.is-negative
    color $color-red

